/*
body{
	margin: 0;
	padding: 0;
	padding-left: 1em;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}
header, footer{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 0 0.5em;
	background-color: #8BC84B;
	font-size: 24px;
	line-height: 2em;
	height: 2em;
	color: #fff;
}
header{
	font-weight: bold;
}
header > a:last-child{
	float: right;
	color: #fff;
	font-weight: normal;
}
footer{
	top: auto;
	bottom: 0;
}
input{
	height: 1.5em;
	font-size: 14px;
}
#content{
	margin: 48px 0.5em;
	list-style: none;
}
*/

/*++++++ horizontal and vertical range ++++++*/
.rangeH {width: 100px; height: 20px; margin: 0; padding: 0;}
.rangeV {width: 4em; height: 100px; margin: 0; padding: 0;
 -webkit-appearance: slider-vertical; color: #00c;}
.out {width: 20px; height: 20px; background: #ccc; padding: 4px 0 0 0;}
/* ---- end form examples ---- */
//}

/*
-moz-transform: rotate(270deg);
*/